.b_info
  %h2{class: "b_name"}
    =business.name
  %span{class: "addy b_street"}
    =business.street_address
  %span{class: "addy b_area"}
    = Present(business).city_info
  %span{class: "addy b_phone"}
    = business.phone_number
  %span{class:"addy b_twitter"}
    = business.twitter

