<% content_for :header_text do %>
  <h1>File a complaint</h1>
  <p>We strive to empower the customer to force a response from businesses.</p>
<% end %>

<%= yield %>

<% parent_layout "application" -%>
